h1 {
	font-family: 'Spectral SC', serif;
	font-size: 30px;
	padding-left: 5px;
	font-weight: bold;
}

.container-fluid {
	background-color: #E2E8E5;
}

.row-no-padding {
	background: url("https://github.com/brewilde13/Basic-Portfolio/blob/master/assets/images/congruent_outline.png?raw=true");
}

li {
	font-family: 'Source Serif Pro', serif;
	font-size: 20px;
}

img {
	width: 200px;
	float: left;
	padding-right: 5px;
}

.text {
	list-style-type: none;
	font-size: 15px;
}

p {
	font-family: 'Source Serif Pro', serif;
	font-size: 15px;
}

h4, h3, h5 {
	font-family: 'Spectral SC', serif;
	font-size: 30px;
	font-weight: bold;
}

.panel-title {
	font-size: 20px;
	background-color: #E2E8E5;
}

h4, h5 {
	text-align: center;
}

h5 {
	font-size: 14px;
}

.icon {
	width: 50px;
	align-content: middle;
}

.panel-body {
	background-color: #F0EFEE;
}

.panel-heading {
	background-color: #E2E8E5;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}